<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">

    <!-- Site Metas -->
    <title>Farmers mart</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" /> -->
    <link rel="shortcut icon" href="{{url_for('static', filename = 'blockchain/images/favicon.ico" type="image/x-icon')}}" />
    <!-- <link rel="apple-touch-icon" href="images/apple-touch-icon.png"> -->
    <link rel="apple-touch-icon" href="{{url_for('static', filename = 'blockchain/images/apple-touch-icon.png')}}">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'blockchain/css/bootstrap.min.css')}}">
    <!-- Site CSS -->
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'blockchain/css/style.css')}}">

   <!-- <link rel="stylesheet" href="css/try1.css"> -->
   <link rel="stylesheet" href="{{url_for('static', filename = 'blockchain/css/try1.css')}}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'blockchain/css/responsive.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'blockchain/css/try1.css')}}">
    <!-- color -->
    <!-- <link id="changeable-colors" rel="stylesheet" href="css/colors/orange.css" /> -->
    <link id="changeable-colors" rel="stylesheet" href="{{url_for('static', filename = 'blockchain/css/colors/orange.css')}}" />
    <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">

    <!-- Modernizer -->
    <!-- <script src="js/modernizer.js"></script> -->
    <script src="{{url_for('static', filename = 'blockchain/js/modernizer.js')}}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/BrowserFS/1.4.3/browserfs.js" type="text/javascript"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/BrowserFS/1.4.3/browserfs.js" type="text/javascript"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- <script src="https://cdn.ethers.io/lib/ethers-5.0.umd.min.js" charset="utf-8" type="text/javascript"></script> -->
    <script src="https://cdn.ethers.io/lib/ethers-5.0.umd.min.js" charset="utf-8" type="text/javascript"></script>
</head>

<body>
    
    <div id="site-header">
        <header id="header" class="header-block-top">
            <div class="container">
                <div class="row">
                    <div class="main-menu">
                        <!-- navbar -->
                        <nav class="navbar navbar-default" id="mainNav">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="logo">
                                    <a class="navbar-brand js-scroll-trigger logo-header" href="#">
                                       <img src="static/indexx/images/lOGOO.png" alt="" style="margin-right: 10px;">
                                    </a>
                                </div>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a href="#banner">Home</a></li>
                                    <li><a href="#about">About us</a></li>
                                    <li><a href="#services">Services</a></li>
                                    <li><a href="#motto">Motto</a></li>
                                    <li><a href="#suppliers">Suppliers</a></li>
                                    <li><a href="#gallery">Gallery</a></li>
                                    <li><a href="#partners">Partners</a></li>
                                    <li><a href="#team">Team</a></li>
                                    <li><a href="#contact">Contact us</a></li>
                                </ul>
                            </div>
                            <!-- end nav-collapse -->
                        </nav>
                        <!-- end navbar -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </header>
        <!-- end header -->
    </div>
	<!-- end site-header -->

  
   
    <!-- end banner https://static.lumosity.com/resources/home_page_templates/574/neuralnetwork.mp4 -->

<section id="banner">
    <br>
    <br>

    <video id="videobcg" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
        <source src="{{url_for('static', filename = 'blockchain/videos/Black_Neuralnetwork.mp4')}}" type="video/mp4">
            <source src="{{url_for('static', filename = 'movie.webm')}}" type="video/webm">Sorry, your browser does not support HTML5 video.</video>
   <div id="getpage" class="menu-main pad-top-100 pad-bottom-100" >
        <div class="container">
            <div class="row">
                <div >
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h2 class="block-title text-center">
                            Getting Temperature and Location Data
                    </h2>
                   
                    <br>
                        <!-- <p class="title-caption text-center">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p> -->
                    </div>
                    
                        
                    <div class="container " >
                        
                                <br>
                                <form class="form">
                                    
                                <div class="col-lg-6">
                                <label for="custid">Customer ID: </label>
                                <input class="form-control" id="custid" type="text"  >
                                </div>
                    
                                <div class="col-lg-6">
                                <label for="pid">Package ID: </label>
                                <input class="form-control"  id="pid" type="text" >
                                </div>
                    
                                <br>
                            </form>
                                
                                <center><button style="padding:20px;margin-top:20px;color: white;background-color: orange;" class=" " id="getMessageButton">Get secret message</button></center>  
                                
                                <br>
                                <br>
                            <form >
                                <div class="col-lg-4" >
                                    <label for="avgtemp">Average Temperature: </label>
                                    <input class="form-control"  id="temp" type="text" disabled>
                                    </div>
                        
                                    <div class="col-lg-4">
                                        <label for="message">Time</label>
                                        <input class="form-control" id="time" type="text" disabled>
                                    </div>
                                     <div class="col-lg-4">
                                        <label for="message">Location</label>
                                        <input class="form-control" id="loc" type="text" disabled>
                                    </div>
                        
                            </form>
                        </div>
                        
                    </div>
                    
        
            
                    
               
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div> 
    
</section>

<script>

    mnemonic = "next lounge advance flat party turn hill fat exercise turn shiver penalty"
    walletMnemonic = ethers.Wallet.fromMnemonic(mnemonic);
    
    walletPrivateKey = new ethers.Wallet(walletMnemonic.privateKey);
    
    //alert(walletMnemonic.address === walletPrivateKey.address);
    // true
    
    // The address as a Promise per the Signer API
    walletMnemonic.getAddress();
    // { Promise: '0x71CB05EE1b1F506fF321Da3dac38f25c0c9ce6E1' }
    
    
    console.log("Wallet Address: "+walletMnemonic.address);
    //alert("Wallet Address: "+walletMnemonic.address);
    
    /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    var abi = [
    {
        "constant": false,
        "inputs": [
            {
                "internalType": "string",
                "name": "_c_num",
                "type": "string"
            },
            {
                "internalType": "string",
                "name": "_p_id",
                "type": "string"
            },
            {
                "internalType": "string",
                "name": "_temp",
                "type": "string"
            },
            {
                "internalType": "string",
                "name": "_time",
                "type": "string"
            },
            {
                "internalType": "string",
                "name": "_loc",
                "type": "string"
            }
        ],
        "name": "newtransaction",
        "outputs": [],
        "payable": false,
        "stateMutability": "nonpayable",
        "type": "function"
    },
    {
        "constant": true,
        "inputs": [
            {
                "internalType": "string",
                "name": "_c_num",
                "type": "string"
            },
            {
                "internalType": "string",
                "name": "_p_id",
                "type": "string"
            }
        ],
        "name": "fetchtransact",
        "outputs": [
            {
                "internalType": "string",
                "name": "a",
                "type": "string"
            },
            {
                "internalType": "string",
                "name": "b",
                "type": "string"
            },
            {
                "internalType": "string",
                "name": "c",
                "type": "string"
            },
            {
                "internalType": "string",
                "name": "d",
                "type": "string"
            },
            {
                "internalType": "string",
                "name": "e",
                "type": "string"
            }
        ],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    }
]
    
    var cntradd = '0x67835564637Ba085ca67A8EE1459e31A8171a5F2'
    
     //= ethers.providers.InfuraProvider.getWebSocketProvider('wss://rinkeby.infura.io/ws/v3/023e22764cb642ad964efa7d8d404f3e');
     var provider = new ethers.providers.InfuraProvider("rinkeby", '023e22764cb642ad964efa7d8d404f3e');
    
    /*let provider = new ethers.providers.InfuraProvider("rinkeby", {
        projectId: '023e22764cb642ad964efa7d8d404f3e023e22764cb642ad964efa7d8d404f3e',
        projectSecret: '68e79fa2ac224b249e50da73a43ee431'
    });*/
    
    var wallet = walletMnemonic.connect(provider);
    
    
    
    var RemixContract = new ethers.Contract( cntradd , abi , provider);
    
    
    $("#getMessageButton").click(function () {
                custid1 = $("#custid").val();
                pid1 = $("#pid").val();
               
                //temp1= $("#temp").val();
                //time1 = $("#time").val();
    
                var callPromise = RemixContract.fetchtransact(custid1,pid1).then(function(result){
                alert("Fetching Data from Blockchain!");
                console.log(result);
                $("#temp").val(result.c);
                $("#time").val(result.d);
                $("#loc").val(result.e);
                return result;
                });
            });

    
    //const mnemonic1 = fs.readFileSync(".secret").toString().trim();
    //alert(mnemonic);
    </script>
    
        <!-- end footer-news -->
  <div id="footer" class="footer-main">
       
        <!-- end footer-news -->
        <div class="footer-box pad-top-70">
            <div class="container">
                <div class="row">
                    <div class="footer-in-main">
                        
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-a">
                                <h3>About Us</h3>
                                <p>Our platform aims to empower the farmers by eradicating middlemen who take away a lion's share of commission.</p>
                                
                                <ul class="socials-box footer-socials pull-left">
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa  fa-facebook"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa fa-twitter"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa fa-google-plus"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa fa-pinterest"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa fa-linkedin"></i></div>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <!-- end footer-box-a -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-b">
                                <h3>Shop</h3>
                                <ul>
                                    <li><a href="#">Fruits and Vegetables</a></li>
                                    <li><a href="#">Dairy Product</a></li>
                                    <li><a href="#">Stuble</a></li>
                                    <li><a href="#">Fertilizers for Farmers</a></li>
                                </ul>
                            </div>
                            <!-- end footer-box-b -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-c">
                                <h3>Contact Us</h3>
                                <p>
                                    <i class="fa fa-map-signs" aria-hidden="true"></i>
                                    <span>DYPIEMR, Akurdi, Pune-411044, Maharashtra, India</span>
                                </p>
                                <p>
                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                    <span>
                                    +91 9491655317 
                                </span>
                                </p>
                                <p>
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span><a href="#">sihfortune06@gmail.com</a></span>
                                </p>
                            </div>
                            <!-- end footer-box-c -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-d">
                                <h3>Our Motto</h3>

                                <p> We aim to enable our farmers to get their maximum share in the truest form by incorporating innovative technological solutions in agriculture.  
                            </div>
                            <!-- end footer-box-d -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end footer-in-main -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
            <div id="copyright" class="copyright-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h6 class="copy-title"> Copyright &copy; 2020 Team Fortune  <a href="#" target="_blank"></a> </h6>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>
            <!-- end copyright-main -->
        </div>
        <!-- end footer-box -->
    </div>
            <!-- end container -->
            <div id="copyright" class="copyright-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h6 class="copy-title"> Copyright &copy; 2020 Team Fortune is powered by <a href="#" target="_blank"></a> </h6>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>
            <!-- end copyright-main -->
        </div>
        <!-- end footer-box -->
    </div>
    <!-- end footer-main -->

    <a href="#" class="scrollup" style="display: none;">Scroll</a>

    <section id="color-panel" class="close-color-panel">
        <a class="panel-button gray2"><i class="fa fa-cog fa-spin fa-2x"></i></a>
        <!-- Colors -->
        <div class="segment">
            <h4 class="gray2 normal no-padding">Color Scheme</h4>
            <a title="orange" class="switcher orange-bg"></a>
            <a title="strong-blue" class="switcher strong-blue-bg"></a>
            <a title="moderate-green" class="switcher moderate-green-bg"></a>
            <a title="vivid-yellow" class="switcher vivid-yellow-bg"></a>
        </div>
    </section>

    <!-- ALL JS FILES -->
    <script src="{{url_for('static', filename = 'blockchain/js/all.js')}}"></script>
    <script src="{{url_for('static', filename = 'blockchain/js/bootstrap.min.js')}}"></script>
    <!-- ALL PLUGINS -->
    <script src="{{url_for('static', filename = 'blockchain/js/custom.js')}}"></script>
</body>

</html>