<!DOCTYPE html>
<html>
<head>
	<title>css cards</title>
	<link rel="stylesheet" type="text/css" href="static/ordercard/css/style1.css">
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">

    <!-- Site Metas -->
    <title>Food Funday Restaurant - One page HTML Responsive</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/ordercard/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="static/ordercard/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="static/ordercard/css/responsive.css">
    <!-- color -->
    <link id="changeable-colors" rel="stylesheet" href="static/ordercard/css/colors/orange.css" />

    <!-- Modernizer -->
    <script src="static/ordercard/js/modernizer.js"></script>
 <script integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" src="https:/code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <!-- <script src="https:/cdn.ethers.io/lib/ethers-5.0.umd.min.js" charset="utf-8" type="text/javascript"></script> -->
    <script charset="utf-8" type="text/javascript" src="https:/cdn.ethers.io/lib/ethers-5.0.umd.min.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <div id="site-header">
        <header id="header" class="header-block-top">
            <div class="container">
                <div class="row">
                    <div class="main-menu">
                        <!-- navbar -->
                        <nav class="navbar navbar-default" id="mainNav">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="logo">
                                    <a class="navbar-brand js-scroll-trigger logo-header" href="#">
                                       <img src="static/indexx/images/lOGOO.png" alt="" style="margin-right: 10px;">
                                    </a>
                                </div>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a href="#banner">Home</a></li>
                                    <li><a href="#about">About us</a></li>
                                    <li><a href="#menu">Menu</a></li>
                                    <li><a href="#our_team">Team</a></li>
                                    <li><a href="#gallery">Gallery</a></li>
                                    <li><a href="#blog">Blog</a></li>
                                    <li><a href="#pricing">pricing</a></li>
                                    <li><a href="#reservation">Reservation</a></li>
                                    <li><a href="#footer">Contact us</a></li>
                                </ul>
                            </div>
                            <!-- end nav-collapse -->
                        </nav>
                        <!-- end navbar -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </header>
        <!-- end header -->
    </div>
	<!-- end site-header -->
	

<section class="hero-section">
    <div class="row">
        
 {% for item in total_details %}
<div class="col-lg-6"style="width: 550px; margin-right: 20px;margin-left: 70px;">

  <div class="card-grid">
    <a class="card" href="#" style="width: 500px; height: 400px;">
      <div class="card__background" style="background-image: url(static/ordercard/images/bg.jpg)"></div>
      <div class="card__content" >
        <!-- <p class="card__category">Sr no: 1</p> -->
        <div class="row">
            <form method="POST">
           <div class="col-md-6">
            <h3  style="padding: 10px;margin-bottom: 20px;margin-left: 10px;margin-top: 10px;font-size: 24px; color: white;"> Farmer Name</h3>
        </div>
        <div class="col-md-6">
          <input style="padding: 10px;margin-bottom: 20px;margin-left: 10px;margin-top: 10px;opacity: 0.5;" type="" name="" value="{{item[0]}}">
        </div> 
        </div>
        <div class="row">
           <div class="col-md-6">
            <h3  style="padding: 10px;margin-bottom: 20px;margin-left: 10px;margin-top: 10px;font-size: 24px; color: white;"> Crop Produced</h3>
        </div>
        <div class="col-md-6">
          <input style="padding: 10px;margin-bottom: 20px;margin-left: 10px;margin-top: 10px;opacity: 0.5;" type="" name="" value="{{item[2]}}">
        </div> 
        </div>
        <div class="row">
           <div class="col-md-6">
            <h3  style="padding: 10px;margin-bottom: 20px;margin-left: 10px;margin-top: 10px;font-size: 24px; color: white;"> Price</h3>
        </div>
        <div class="col-md-6">
          <input style="padding: 10px;margin-bottom: 20px;margin-left: 10px;margin-top: 10px;opacity: 0.5;" type="" name="" value="{{item[1]}}">
        </div> 
        </div>
        <div class="row">
           <div class="col-md-6">
            <h3  style="padding: 10px;margin-bottom: 20px;margin-left: 10px;margin-top: 10px;font-size: 24px; color: white;"> Packing ID:</h3>
        </div>
        <div class="col-md-6">
          <input style="padding: 10px;margin-bottom: 20px;margin-left: 10px;margin-top: 10px;opacity: 0.5;" type="" name="" id="packingg" value="{{item[3]}}">
        </div> 
        </div>
    
        <button class="but" id ="setMessageButton">Track order</button>
       </form>
      </div>
    </a>
    
  <div>
</div>
</div>
</div>
{% endfor %}
</div>
</section>
    <div id="footer" class="footer-main">
        <div class="footer-box pad-top-70">
            <div class="container">
                <div class="row">
                    <div class="footer-in-main">
                        <div class="footer-logo">
                            <div class="text-center">
                                <img src="static/ordercard/images/logo.png" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-a">
                                <h3>About Us</h3>
                                <p>Aenean commodo ligula eget dolor aenean massa. Cum sociis nat penatibu set magnis dis parturient montes.</p>
                                <ul class="socials-box footer-socials pull-left">
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa  fa-facebook"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa fa-twitter"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa fa-google-plus"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa fa-pinterest"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa fa-linkedin"></i></div>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <!-- end footer-box-a -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-b">
                                <h3>New Menu</h3>
                                <ul>
                                    <li><a href="#">Italian Bomba Sandwich</a></li>
                                    <li><a href="#">Double Dose of Pork Belly</a></li>
                                    <li><a href="#">Spicy Thai Noodles</a></li>
                                    <li><a href="#">Triple Truffle Trotters</a></li>
                                </ul>
                            </div>
                            <!-- end footer-box-b -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-c">
                                <h3>Contact Us</h3>
                                <p>
                                    <i class="fa fa-map-signs" aria-hidden="true"></i>
                                    <span>6 E Esplanade, St Albans VIC 3021, Australia</span>
                                </p>
                                <p>
                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                    <span>
									+91 80005 89080
								</span>
                                </p>
                                <p>
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span><a href="#">support@foodfunday.com</a></span>
                                </p>
                            </div>
                            <!-- end footer-box-c -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-d">
                                <h3>Opening Hours</h3>

                                <ul>
                                    <li>
                                        <p>Monday - Thursday </p>
                                        <span> 11:00 AM - 9:00 PM</span>
                                    </li>
                                    <li>
                                        <p>Friday - Saturday </p>
                                        <span>  11:00 AM - 5:00 PM</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- end footer-box-d -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end footer-in-main -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end footer-box -->
    </div>
    <!-- end footer-main -->

    <a href="#" class="scrollup" style="display: none;">Scroll</a>
    <script>
    mnemonic = "next lounge advance flat party turn hill fat exercise turn shiver penalty";
        walletMnemonic = ethers.Wallet.fromMnemonic(mnemonic);

        //walletPrivateKey = new ethers.Wallet(walletMnemonic.privateKey);

        //alert(walletMnemonic.address === walletPrivateKey.address);
        // true

        /// The address as a Promise per the Signer API
        walletMnemonic.getAddress();
       // / { Promise: '0x71CB05EE1b1F506fF321Da3dac38f25c0c9ce6E1' }


        console.log("Wallet Address: "+walletMnemonic.address);
        //alert("Wallet Address: "+walletMnemonic.address);

        //*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
        var abi = [
    {
        "constant": false,
        "inputs": [
            {
                "internalType": "string",
                "name": "_c_num",
                "type": "string"
            },
            {
                "internalType": "string",
                "name": "_p_id",
                "type": "string"
            },
            {
                "internalType": "string",
                "name": "_temp",
                "type": "string"
            },
            {
                "internalType": "string",
                "name": "_time",
                "type": "string"
            },
            {
                "internalType": "string",
                "name": "_loc",
                "type": "string"
            }
        ],
        "name": "newtransaction",
        "outputs": [],
        "payable": false,
        "stateMutability": "nonpayable",
        "type": "function"
    },
    {
        "constant": true,
        "inputs": [
            {
                "internalType": "string",
                "name": "_c_num",
                "type": "string"
            },
            {
                "internalType": "string",
                "name": "_p_id",
                "type": "string"
            }
        ],
        "name": "fetchtransact",
        "outputs": [
            {
                "internalType": "string",
                "name": "a",
                "type": "string"
            },
            {
                "internalType": "string",
                "name": "b",
                "type": "string"
            },
            {
                "internalType": "string",
                "name": "c",
                "type": "string"
            },
            {
                "internalType": "string",
                "name": "d",
                "type": "string"
            },
            {
                "internalType": "string",
                "name": "e",
                "type": "string"
            }
        ],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    }
]
        var cntradd = '0x67835564637Ba085ca67A8EE1459e31A8171a5F2';

      
        var provider = new ethers.providers.InfuraProvider("rinkeby", '023e22764cb642ad964efa7d8d404f3e');


        var wallet = walletMnemonic.connect(provider);

        var RemixContract = new ethers.Contract( cntradd , abi , wallet);

        console.log(RemixContract);
            
//console.log(curr_time);

// Temperature
                
                var va =  $("#packingg").val();
                console.log(va.toString());
                console.log("{{temp}}");
            console.log("{{time}}");
                var em =  "{{email_id}}";
var tem = "{{temp}}";
var time2 = "{{time}}";
var loc = "{{data_longg}}";
console.log(loc);
        $("#setMessageButton").click(function () {
            console.log("Hello")
            custid1 =em.toString();
            
            pid1 = va.toString();
            temp1= tem.toString();
            time1 = time2.toString();
            loc1 = loc.toString();
            console.log("Hello");
            var aa = RemixContract.newtransaction(custid1,pid1,temp1,time1,loc1).then(function(transaction){
            console.log(transaction);
            alert("Sent");
            return transaction;
            });
            console.log(aa);
            
        });



</script>
    <script src="static/ordercard/js/all.js"></script>
    <script src="static/ordercard/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="static/ordercard/js/custom.js"></script>
    
 <script type="text/javascript">
            /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
            (function(d, m){
              var kommunicateSettings = {"appId":"258b148ca7ddef794193519f0e233efd6","popupWidget":true,"automaticChatOpenOnNavigation":true};
              var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
              s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
              var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
              window.kommunicate = m; m._globals = kommunicateSettings;
            })(document, window.kommunicate || {});
        </script>
<script src="{{url_for('static', filename = 'blockchain/js/all.js')}}"></script>
    <!-- <script src="js/bootstrap.min.js"></script> -->
<script src="{{url_for('static', filename = 'blockchain/js/bootstrap.min.js')}}"></script>
    <!-- ALL PLUGINS -->
    <!-- <script src="js/custom.js"></script> -->
<script src="{{url_for('static', filename = 'blockchain/js/custom.js')}}"></script>
</body>
</html>